<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <form id="admin-form">
        <input type="file"  id="image" accept="image/**" required>
    <input type="description" id="disc">
    category:<select>
        <option>Politics</option>
        <option>Business</option>
        <option>Fun</option>
        <option>Sports</option>
    </select>
    <button id="submit">Submit</button>
    <a href="dashboard.html">Back</a>
    </form>
   
</body>
</html>