<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" href="./signupstyles.css">
</head>
<body>
    <div class="login-container">
  <h2>Create Account</h2>
  <form id="signupForm">
    <input id="name" placeholder="Name" required><br><br>
    <input id="email" placeholder="Email" required><br><br>
    <input id="password" type="password" placeholder="Password" required><br><br>
    <button type="submit">Signup</button>
  </form>

  <p>Already have an account? <a href="./login.html">Login</a></p>
  </div>
  <script>
    document.getElementById("signupForm").addEventListener("submit", async (e) => {
      e.preventDefault();
      const data = {
       name : document.getElementById("name").value,
     email : document.getElementById("email").value,
     password : document.getElementById("password").value
      };

      const res=await fetch('/user/signup', {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data)
      });
      const result=await res.json();
if(res.ok)
{
 alert("Signup Success! Please login");
window.location.href='./login.html';

     
}
     
    });
  </script>
</body>
</html>
