body {
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(to bottom right, #ffe5f0, #e8f0ff);
  margin: 0;
  padding: 20px;
  color: #333;
}

/* Title */
h1 {
  text-align: center;
  color: #3410e6;
  font-size: 2.4rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px #fff;
}

/* Posts Layout */
#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* Card */
.card {
  width: 100%;
  max-width: 100%;
  margin: 10px auto;
  background: white;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.post-image {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-color: #000;
}

.section-box {
  border:1px solid #ccc;
  padding:10px;
  margin-top:10px;
  border-radius:10px;
  background:#f7f7f7;
}

.section-box h3 {
  margin:0;
  cursor:pointer;
  padding:5px;
}

.hidden {
  display:none;
}

.post-item {
  padding:8px;
  background:white;
  margin:6px 0;
  border-radius:6px;
  display:flex;
  justify-content:space-between;
  border:1px solid #ddd;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

/* .card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}


.card-content {
  padding: 15px;
}

.card-content h2 {
  color: #82124a;
  margin: 6px 0;
}  */

.footer {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
  display: flex;
  justify-content: space-between;
}

/* Buttons */
button {
  cursor: pointer;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(45deg, #007bff, #00b7ff);
  color: white;
  transition: transform 0.2s, background 0.3s;
}

button:hover {
  transform: scale(1.08);
  background-image: linear-gradient(45deg, #0056b3, #0099dd);
}

.actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

/* Active Like */
.active-like {
  background: #14c414 !important;
}

/* Active Dislike */
.active-dislike {
  background: #ff3b3b !important;
}

/* Comments */
.comment-list {
  margin-top: 12px;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 8px;
  max-height: 180px;
  overflow-y: auto;
}

.comment-list p {
  font-size: 0.9em;
  margin: 5px 0;
}

/* Comment input */
.comment-input {
  width: 70%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.comment-post-btn {
  background: #ff2e76;
}
