<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Posts</title>
</head>
<body>
  <h1>All Posts</h1>
  <a href="../dashboard.html">Back</a>
  <div id="posts"></div>

  <script>
    async function loadAllPosts() {
      try {
        const res = await fetch('http://localhost:3000/post/getPost');

        const posts = await res.json();
console.log('posts',res.resuit,res.message)
        const postsDiv = document.getElementById('posts');
        posts.forEach(p => {
          postsDiv.innerHTML += `
            <div style="border:1px solid #aaa; padding:10px; margin:10px;">
              <img src="${p.image}" width="120"><br>
              ${p.title}</b>
              <b>${p.category}</b>: ${p.description}
            </div>
          `;
        });
      } catch (err) {
        console.log('Error fetching posts:', err);
      }
    }

    loadAllPosts();
  </script>
</body>
</html>
